.line {
  stroke: black;
  stroke-width: 8;
}

.pos-0 {
  transform: rotate(0deg);
}

.pos-1 {
  transform: rotate(45deg);
}

.lines {
  transform-origin: center;
  transition: all ease-in-out 100;
  /* origin-center transition-all ease-in-out duration-100 */
}
